mixin s-header(page)
    header.s-header#headerSection
        img.s-header__img.s-header__img--desctop(src='/img/s-header-bg.jpg')
        img.s-header__img.s-header__img--tab(src='/img/s-header-tab.jpg')
        img.s-header__img.s-header__img--mob(src='/img/s-header-mob.jpg')
        .s-header__icon-wrap
            img.image_svg.s-header__icon(src='/img/icon-section-1.svg')


