include ../components/include/head
include ../components/sections/s-404/s-404
include ../components/sections/menu/menu
include ../components/sections/s-modal-policy/s-modal-policy

doctype html
html(lang="en")
    +head(page404)
    body
        //#preloader
            //img(src="/img/logo-main.svg" alt='')
        .b-wrapper
            .content
                +menu(mainPage)
                +s-404()
                +s-modal-policy()