<div id="modalThanks" class="modal modal-call modal-thanks">
    <div class="modal-cross-wrap">
        <a href="#!" class="modal-close">
            <img src="{{ asset('img/icon-cross.svg') }}" class="image_svg" alt=""/>
        </a>
    </div>
    <div class="modal-content">
        <p class="modal__title">Заявка отправлена!</p>
        <p class="modal__title">Мы вам перезвоним в течении 10 минут!</p>
        <div class="btn-wrap">
            <a href="#!" class="modal-close btn">
                <span>ок</span>
            </a>
        </div>
    </div>
</div>
