<noscript>
    <!-- Yandex.Metrika counter -->
    <div><img src="https://mc.yandex.ru/watch/95850652" style="position:absolute; left:-9999px;" alt="" /></div>
    <!-- /Yandex.Metrika counter -->
    <!-- Facebook Pixel Code -->
    <img height="1" width="1" src="https://www.facebook.com/tr?id=783207362522713&ev=PageView&noscript=1"/>
    <!-- End Facebook Pixel Code -->
</noscript>
