mixin s-footer(page)
    section.s-footer
        .s-footer__overlay
        .container
            .row
                .col.s12
                    .s-footer__wrap
                        .s-footer__block
                            p.s-footer__block-title Контакты
                            .s-footer__block-contact
                                p Телефон:
                                a(href='tel:+7 495 477 33 92') +7 495 477 33 92
                            .s-footer__block-contact
                                p E-mail:
                                a(href='mailto: russia@mvagusta.com') russia@mvagusta.com
                            //.s-footer__block-contact
                            //    p Whatsapp:
                            //    a(href='https://api.whatsapp.com/send?phone=+7 995 880 00 59&text=%20' target="_blank") +7 995 880 00 59
                        .s-footer__block
                            a.brand-logo(href='/')
                                img(src="/img/logo-main.svg" alt='')
                            .s-footer__socials-wrap
                                a.s-footer__social-link(href='https://www.instagram.com/mvagustarussia/' target="_blank")
                                    img.image_svg(src="/img/icon-telegram.svg" alt='')
                                a.s-footer__social-link(href='https://www.facebook.com/mvagustamotorrus' target="_blank")
                                    img.image_svg(src="/img/icon-facebook.svg" alt='')
                                a.s-footer__social-link(href='https://api.whatsapp.com/send?phone=+7 995 880 00 59&text=%20' target="_blank")
                                    img.image_svg(src="/img/icon-whatsapp.svg" alt='' width='18')
                                //a.s-footer__social-link(href='#' target="_blank")
                                //    img.image_svg(src="/img/icon-youtube.svg" alt='')
                                //a.s-footer__social-link(href='#' target="_blank")
                                //    img.image_svg(src="/img/icon-vimeo.svg" alt='')
                            a.s-footer__policy.policy_modal-link.modal-trigger(href='#modalPolicy') Политика конфиденциальности
                        .s-footer__block
                            a.s-footer__link(href='/company.html') О компании
                            a.s-footer__link(href='/company.html#about2') О дилере
                            //a.s-footer__link(href='#') Скачать каталог
                            //a.s-footer__link(href='#') Способы оплаты







