<li>
    <a class="sonata-action-element" href="{{ admin.generateUrl('recalcPositions') }}">
        <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
        {{ 'action_recalc_positions'|trans({}, 'SonataAdminBundle') }}
    </a>
</li>
