<div class="line-descr">
    <img src="{{ asset('img/icon-numbers-cil.svg') }}" class="image_svg" alt=""/>
    <div class="line-descr-text">
        <p class="line-descr-title">Количество цилиндров</p>
        <p class="line-descr-about">{{ model.cylinders }}</p>
    </div>
</div>
