<div class="line-descr">
    <img src="{{ asset('img/icon-value-cil.svg') }}" class="image_svg" alt=""/>
    <div class="line-descr-text">
        <p class="line-descr-title">Рабочий объем</p>
        <p class="line-descr-about">{{ model.volume }}<span> куб.см</span></p>
    </div>
</div>
