<div class="line-descr">
    <img src="{{ asset('img/icon-speed-cil.svg') }}" class="image_svg" alt=""/>
    <div class="line-descr-text">
        <p class="line-descr-title">Максимальная скорость</p>
        <p class="line-descr-about">>{{ model.speed }}<span> км/ч</span></p>
    </div>
</div>
