<div class="line-descr">
    <img src="{{ asset('img/icon-pound-cil.svg') }}" class="image_svg" alt=""/>
    <div class="line-descr-text">
        <p class="line-descr-title">Вес</p>
        <p class="line-descr-about">{{ model.weight }}<span> кг</span></p>
    </div>
</div>
