<div class="line-descr">
    <img src="{{ asset('img/icon-down-cil.svg') }}" class="image_svg" alt=""/>
    <div class="line-descr-text">
        <p class="line-descr-title">Степень сжатия</p>
        <p class="line-descr-about">{{ model.compression }}</p>
    </div>
</div>
