<div class="models-block__descr-block">
    <div class="models-block__descr-content">
        <img src="{{ asset('img/icon-value-cil.svg') }}" class="image_svg" alt=""/>
        <div class="models-block__descr-text-wrap">
            <p class="models-block__descr-name">Рабочий объём</p>
            <p class="models-block__descr-about">{{ model.volume }}<span> куб.см</span></p>
        </div>
    </div>
</div>
