mixin module-9(page)
    section.module-9
        img.image_svg.module-9__icon(src='/img/icon-section-2.svg')
        .container
            .row
                .col.s12.module-9__content
                    .section-header
                        h2.module-9__title Записаться на Тест-райд
                    ul.tabs
                        li.tab
                            a(href='#brutale-1000-serie-oro') Brutale 1000 Serie Oro
                        li.tab
                            a(href='#dragster-800-rosso') Dragster 800 Rosso
                        li.tab
                            a(href='#brutale-800-rosso') Brutale 800 Rosso
                        li.tab
                            a(href='#turismo-veloce-800-lusso') Turismo Veloce 800 Lusso
                        li.tab
                            a(href='#brutale-800-rr-scs') Brutale 800 RR SCS
                        li.tab
                            a(href='#brutale-800-rr-scs') Brutale 800 RR SCS
                        li.tab
                            a(href='#brutale-800-rr-scs') Brutale 800 RR SCS
                        li.tab
                            a(href='#brutale-800-rr-scs') Brutale 800 RR SCS
                        li.tab
                            a(href='#brutale-800-rr-scs') Brutale 800 RR SCS
                    .module-9__block#brutale-1000-serie-oro
                        .module-9__img-block
                            img(src='/img/brutale/brutale-1000-serie-oro/B4_SerieOro_0036.png')
                        .module-9__circle-slider-description
                            .line-descr
                                img.image_svg(src='/img/icon-numbers-cil.svg')
                                .line-descr-text
                                    p.line-descr-title количество цилиндров
                                    p.line-descr-about
                                        | 3
                            .line-descr
                                img.image_svg(src='/img/icon-value-cil.svg')
                                .line-descr-text
                                    p.line-descr-title ёмкость цилиндров
                                    p.line-descr-about
                                        | 998
                                        span  CC
                            .line-descr
                                img.image_svg(src='/img/icon-speed-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальная скорость
                                    p.line-descr-about
                                        | >300
                                        span  km/h
                            .line-descr
                                img.image_svg(src='/img/icon-pound-cil.svg')
                                .line-descr-text
                                    p.line-descr-title сухой вес
                                    p.line-descr-about
                                        | 186
                                        span  kg
                            .line-descr
                                img.image_svg(src='/img/icon-horse-cil.svg')
                                .line-descr-text
                                    p.line-descr-title Мощность
                                    p.line-descr-about
                                        | 212
                                        span  hp @ 13.000 R.P.M.
                            .line-descr
                                img.image_svg(src='/img/icon-down-cil.svg')
                                .line-descr-text
                                    p.line-descr-title степень сжатия
                                    p.line-descr-about
                                        | 13,4:1
                            .line-descr
                                img.image_svg(src='/img/icon-moment-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальный крутящий момент
                                    p.line-descr-about
                                        | 11.9
                                        span  KGM @ 11.000 R.P.M.
                        .btns-wrap
                            a.btn.btn--grey(href='/brutale-1000-serie-oro.html')
                                span посмотреть модель
                            a.btn.btn--black.check-ride(href='#')
                                span Выбрать
                    .module-9__block#dragster-800-rosso
                        .module-9__img-block
                            img(src='/img/dragster/dragster-800-rosso/D3_800MY20_0036.png')
                        .module-9__circle-slider-description
                            .line-descr
                                img.image_svg(src='/img/icon-numbers-cil.svg')
                                .line-descr-text
                                    p.line-descr-title количество цилиндров
                                    p.line-descr-about
                                        | 3
                            .line-descr
                                img.image_svg(src='/img/icon-value-cil.svg')
                                .line-descr-text
                                    p.line-descr-title ёмкость цилиндров
                                    p.line-descr-about
                                        | 998
                                        span  CC
                            .line-descr
                                img.image_svg(src='/img/icon-speed-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальная скорость
                                    p.line-descr-about
                                        | >300
                                        span  km/h
                            .line-descr
                                img.image_svg(src='/img/icon-pound-cil.svg')
                                .line-descr-text
                                    p.line-descr-title сухой вес
                                    p.line-descr-about
                                        | 186
                                        span  kg
                            .line-descr
                                img.image_svg(src='/img/icon-horse-cil.svg')
                                .line-descr-text
                                    p.line-descr-title Мощность
                                    p.line-descr-about
                                        | 212
                                        span  hp @ 13.000 R.P.M.
                            .line-descr
                                img.image_svg(src='/img/icon-down-cil.svg')
                                .line-descr-text
                                    p.line-descr-title степень сжатия
                                    p.line-descr-about
                                        | 13,4:1
                            .line-descr
                                img.image_svg(src='/img/icon-moment-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальный крутящий момент
                                    p.line-descr-about
                                        | 11.9
                                        span  KGM @ 11.000 R.P.M.
                        .btns-wrap
                            a.btn.btn--grey(href='/dragster-800-rosso.html')
                                span посмотреть модель
                            a.btn.btn--black.check-ride(href='#')
                                span Выбрать
                    .module-9__block#brutale-800-rosso
                        .module-9__img-block
                            img(src='/img/brutale/brutale-800-rosso/B3_800MY20_00036.png')
                        .module-9__circle-slider-description
                            .line-descr
                                img.image_svg(src='/img/icon-numbers-cil.svg')
                                .line-descr-text
                                    p.line-descr-title количество цилиндров
                                    p.line-descr-about
                                        | 3
                            .line-descr
                                img.image_svg(src='/img/icon-value-cil.svg')
                                .line-descr-text
                                    p.line-descr-title ёмкость цилиндров
                                    p.line-descr-about
                                        | 998
                                        span  CC
                            .line-descr
                                img.image_svg(src='/img/icon-speed-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальная скорость
                                    p.line-descr-about
                                        | >300
                                        span  km/h
                            .line-descr
                                img.image_svg(src='/img/icon-pound-cil.svg')
                                .line-descr-text
                                    p.line-descr-title сухой вес
                                    p.line-descr-about
                                        | 186
                                        span  kg
                            .line-descr
                                img.image_svg(src='/img/icon-horse-cil.svg')
                                .line-descr-text
                                    p.line-descr-title Мощность
                                    p.line-descr-about
                                        | 212
                                        span  hp @ 13.000 R.P.M.
                            .line-descr
                                img.image_svg(src='/img/icon-down-cil.svg')
                                .line-descr-text
                                    p.line-descr-title степень сжатия
                                    p.line-descr-about
                                        | 13,4:1
                            .line-descr
                                img.image_svg(src='/img/icon-moment-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальный крутящий момент
                                    p.line-descr-about
                                        | 11.9
                                        span  KGM @ 11.000 R.P.M.
                        .btns-wrap
                            a.btn.btn--grey(href='/brutale-800-rosso.html')
                                span посмотреть модель
                            a.btn.btn--black.check-ride(href='#')
                                span Выбрать
                    .module-9__block#turismo-veloce-800-lusso
                        .module-9__img-block
                            img(src='/img/turismo-veloce/turismo-veloce-800-rosso/Turismo_800MY20_0036.png')
                        .module-9__circle-slider-description
                            .line-descr
                                img.image_svg(src='/img/icon-numbers-cil.svg')
                                .line-descr-text
                                    p.line-descr-title количество цилиндров
                                    p.line-descr-about
                                        | 3
                            .line-descr
                                img.image_svg(src='/img/icon-value-cil.svg')
                                .line-descr-text
                                    p.line-descr-title ёмкость цилиндров
                                    p.line-descr-about
                                        | 998
                                        span  CC
                            .line-descr
                                img.image_svg(src='/img/icon-speed-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальная скорость
                                    p.line-descr-about
                                        | >300
                                        span  km/h
                            .line-descr
                                img.image_svg(src='/img/icon-pound-cil.svg')
                                .line-descr-text
                                    p.line-descr-title сухой вес
                                    p.line-descr-about
                                        | 186
                                        span  kg
                            .line-descr
                                img.image_svg(src='/img/icon-horse-cil.svg')
                                .line-descr-text
                                    p.line-descr-title Мощность
                                    p.line-descr-about
                                        | 212
                                        span  hp @ 13.000 R.P.M.
                            .line-descr
                                img.image_svg(src='/img/icon-down-cil.svg')
                                .line-descr-text
                                    p.line-descr-title степень сжатия
                                    p.line-descr-about
                                        | 13,4:1
                            .line-descr
                                img.image_svg(src='/img/icon-moment-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальный крутящий момент
                                    p.line-descr-about
                                        | 11.9
                                        span  KGM @ 11.000 R.P.M.
                        .btns-wrap
                            a.btn.btn--grey(href='/turismo-veloce-800-lusso.html')
                                span посмотреть модель
                            a.btn.btn--black.check-ride(href='#')
                                span Выбрать
                    .module-9__block#brutale-800-rr-scs
                        .module-9__img-block
                            img(src='/img/brutale/brutale-800-rr-scs/SCSMY20_A_vers2__0036.png')
                        .module-9__circle-slider-description
                            .line-descr
                                img.image_svg(src='/img/icon-numbers-cil.svg')
                                .line-descr-text
                                    p.line-descr-title количество цилиндров
                                    p.line-descr-about
                                        | 3
                            .line-descr
                                img.image_svg(src='/img/icon-value-cil.svg')
                                .line-descr-text
                                    p.line-descr-title ёмкость цилиндров
                                    p.line-descr-about
                                        | 998
                                        span  CC
                            .line-descr
                                img.image_svg(src='/img/icon-speed-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальная скорость
                                    p.line-descr-about
                                        | >300
                                        span  km/h
                            .line-descr
                                img.image_svg(src='/img/icon-pound-cil.svg')
                                .line-descr-text
                                    p.line-descr-title сухой вес
                                    p.line-descr-about
                                        | 186
                                        span  kg
                            .line-descr
                                img.image_svg(src='/img/icon-horse-cil.svg')
                                .line-descr-text
                                    p.line-descr-title Мощность
                                    p.line-descr-about
                                        | 212
                                        span  hp @ 13.000 R.P.M.
                            .line-descr
                                img.image_svg(src='/img/icon-down-cil.svg')
                                .line-descr-text
                                    p.line-descr-title степень сжатия
                                    p.line-descr-about
                                        | 13,4:1
                            .line-descr
                                img.image_svg(src='/img/icon-moment-cil.svg')
                                .line-descr-text
                                    p.line-descr-title максимальный крутящий момент
                                    p.line-descr-about
                                        | 11.9
                                        span  KGM @ 11.000 R.P.M.
                        .btns-wrap
                            a.btn.btn--grey(href='/brutale-800-rr-scs.html')
                                span посмотреть модель
                            a.btn.btn--black.check-ride(href='#')
                                span Выбрать
