mixin module-3(page)
    section.module-3
        .container
            .row
                .col.s12.module-3__content
                    .section-header
                        h2.module-3__title
                            | Наши преимущества
                            br
                            | для клиентов
                    .module-3__blocks-wrap
                        .module-3__block
                            .module-3__block-img-wrap
                                img.image_svg(src='/img/icon-moto.svg')
                            p.module-3__block-title
                                | Сервисное
                                span обслуживание
                        .module-3__block
                            .module-3__block-img-wrap
                                img.image_svg(src='/img/icon-doc.svg')
                            p.module-3__block-title
                                | Программы
                                span обслуживание

