mixin s-timeline(page)
    section.s-timeline
        .container
            .row
                .col.s12.s-timeline__content
                    .section-header
                        h2.s-timeline__title История
                    .s-timeline__top-slider-wrap
                        .s-timeline__top-slider-controls
                            .s-timeline__top-counter
                                p.counter__curent 1
                                p.counter__all / 6
                            .s-timeline__top-arrows-wrap
                                .s-timeline__top-arrow.prev-btn
                                    img.image_svg(src='/img/icon-arrow-left.svg')
                                .s-timeline__top-arrow.next-btn
                                    img.image_svg(src='/img/icon-arrow-right.svg')
                        .s-timeline__top-slider
                            .s-timeline__top-slide(style='background-image: url("/img/s-videos-bg.png")')
                                .s-timeline__text-block
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    .line
                                    p.module-8__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .s-timeline__top-slide(style='background-image: url("/img/s-videos-bg.png")')
                                .s-timeline__text-block
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    .line
                                    p.module-8__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .s-timeline__top-slide(style='background-image: url("/img/s-videos-bg.png")')
                                .s-timeline__text-block
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    .line
                                    p.module-8__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .s-timeline__top-slide(style='background-image: url("/img/s-videos-bg.png")')
                                .s-timeline__text-block
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    .line
                                    p.module-8__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .s-timeline__top-slide(style='background-image: url("/img/s-videos-bg.png")')
                                .s-timeline__text-block
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    .line
                                    p.module-8__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .s-timeline__top-slide(style='background-image: url("/img/s-videos-bg.png")')
                                .s-timeline__text-block
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    .line
                                    p.module-8__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .s-timeline__top-slide(style='background-image: url("/img/s-videos-bg.png")')
                                .s-timeline__text-block
                                    h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                    .line
                                    p.module-8__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .s-timeline__bottom-slider
            .s-timeline__bottom-slide
                p.s-timeline__year 1907
                .s-timeline__bottom-lines-wrap
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
            .s-timeline__bottom-slide
                p.s-timeline__year 1920
                .s-timeline__bottom-lines-wrap
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
            .s-timeline__bottom-slide
                p.s-timeline__year 1950
                .s-timeline__bottom-lines-wrap
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
            .s-timeline__bottom-slide
                p.s-timeline__year 1980
                .s-timeline__bottom-lines-wrap
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
            .s-timeline__bottom-slide
                p.s-timeline__year 2000
                .s-timeline__bottom-lines-wrap
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
            .s-timeline__bottom-slide
                p.s-timeline__year 2010
                .s-timeline__bottom-lines-wrap
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
            .s-timeline__bottom-slide
                p.s-timeline__year 2020
                .s-timeline__bottom-lines-wrap
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line
                    .s-timeline__bottom-line



