mixin s-repair()
    section.s-repair
        .container
            .row
                .col.s12.s-repair__content
                    .s-repair__content-wrap
                        img.s-repair__logo(src="/img/logo-main.svg" alt='')
                        p.s-repair__text Ведутся технические работы
                        img.s-repair__img(src="/img/repaire-image.png" alt='')