.s-ride-form

  .container
    position: static

  &__content
    max-width 1068px
    margin-left: auto
    margin-right: auto

  &__title
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

  &__description
    max-width 560px
    margin-left: auto
    margin-right: auto
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px

  .wpcf7-form
    .s-ride-form__title
      margin-top: 160px
      max-width 774px
      margin-left: auto
      margin-right: auto
      text-align: center
      @media only screen and (max-width: 600px)
        margin-top: 80px

  &__privacy-text
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    max-width 560px
    margin-left: auto
    margin-right: auto
    text-transform: uppercase
    a
      text-decoration: underline
      transition all .3s ease
      &:hover
        color brown

  &__line
    max-width 100%

  h5
    margin-top: 50px
    margin-bottom: 40px
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
