mixin module-1(page)
    section.module-1
        img.image_svg.module-1__icon(src='/img/icon-section-2.svg')
        .container
            .row
                .col.s12.module-1__content
                    .section-header
                        h2.module-1__title О компании
                    .module-1__blocks-wrap
                        .module-1__text-block
                            h3
                                span MV Agusta
                            .line
                            p.module-1__text Мы не просто производим мотоциклы, мы пробуждаем эмоции. Мы работаем на будущее и создаем мотоциклы, которые всегда на шаг опережают свое время.
                            p.module-1__text Наша миссия - конструирование, разработка и изготовление самых передовых мотоциклов в мире. Их отличает фантастический дизайн, лучшие в своем классе характеристики и самые передовые материиалы и технологии. Выполняя свою миссию, мы придерживаемся и остаемся верными нашим ценностям трудового мастерства, инноваций и постоянного стремления к совершенству.
                            .module-1__btn-wrap
                                a.module-1__btn.btn(href='/company.html')
                                    span подробнее
                        .module-1__img-block
                            img.lazy(data-src='/img/module-1-img.jpg')

