mixin s-404()
    section.s-404
        .container
            .row
                .col.s12.s-404__content
                    .s-404__content-wrap
                        img.s-404__image(src="/img/404.png" alt='')
                        p.s-404__text Ведутся технические работы
                        .btn-wrap
                            a.btn(href='/')
                                span вернуться на главную