{% extends 'base.html.twig' %}

{% set title = 'Ведутся технические работы' %}

{% block page %}
<section class="s-repair">
    <div class="container">
        <div class="row">
            <div class="col s12 s-repair__content">
                <div class="s-repair__content-wrap">
                    <img src="{{ asset('img/logo-main.svg') }}" alt="" class="s-repair__logo"/>
                    <p class="s-repair__text">Ведутся технические работы</p>
                    <img src="{{ asset('img/repaire-image.png') }}" alt="" class="s-repair__img"/>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
